
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font use 
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
*/

html, body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* HEADER */


/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/*  BANNER or CAROUSEL */


/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* ABOUT US */


/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* AGENT BLOCK */


/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* CATEGORIES */


/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* HOME SERVICES - FOOD */



/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* DELICIOUSNESS - CONTACT US */


/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* NUMBERS */



/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* VIDEOS */




/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* BLOGS */



/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* TESTIMONIALS */



/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* FOOTER */
