
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font use 
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
*/

html, body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  max-width: 1199px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sectionStyle{
  padding: 80px 0;
}

.title h3{
  font-family: 'Pacifico', cursive;
  color: #fe6600;
  font-size: 24px;
}

.title h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

a{
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */
/* LIGHT THEME */
#myBody{
  background-color:white;
}

/* #switchButton {
  background-color: white;
} */

#switchButton .fa-sun{
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* ------------------------------------------------------------------------- */
/* DARK THEME */
.dark#myBody {
  background-color: #232220;
}


/* .dark #switchButton{
  background-color: black;
} */

.dark #switchButton .fa-sun{
  display: block;
  color: white;
}

.dark #switchButton .fa-moon{
  display: none;
}

.dark .title h2{
  color: white;
}

/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header__leftContent h1 a{
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* seperate left and right header content with grid */
.header__content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  padding: 40px 0 20px 0;
}

/* right header content */
.header__rightContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}


.btn__switchThemes {
  background-color: transparent;
  border: none;
}

.header__switchTheme .fa-moon,
.header__switchTheme .fa-sun {
  font-size: 25px;
  background: none;
  color: white;
}

/* search box */
.header__searchBox {
  position: relative;
  display: flex;
}

.search__input {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #232220;
  border-radius: 6px;
  outline: none;
}

.search__icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 15px;
  cursor: pointer;
}

.dark .search__input{
  background-color: #232220;
}
/* button menu navbar */

.header__navBar .navbar .navbar-toggler {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: white;
  font-size: 1.95em;
  font-weight: 700;
  padding: 8px;
}

.header__navBar .navbar .navbar-toggler-icon {
  color: white;
  /* --bs-navbar-toggler-icon-bg: white; */
}


/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/*  BANNER or CAROUSEL */

.carousel {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  min-height: 700px;
}

.carousel__content {
  max-width: 600px;
  text-align: left;

  font-family: 'Quicksand', sans-serif;
  color: white;
  padding-top: 200px;
}

/* Button Read More */
.carousel button {
  background: transparent;
  border: 2px solid white;
  color: white;

  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;

  margin-top: 3rem;
}

.carousel button:hover{
  background-color: white;
  border: 2px solid white;
  color: #ff6600;
  text-decoration: none;
}

/* carousel__content font,... */
.carousel__content h3 {
  font-size: 44px;
  line-height: 53px;
  font-weight: 600;
}

.carousel__content p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 1.5rem;
}

/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* ABOUT US */
.aboutUs__right p{
  font-size: 18px;
  color: #5b606c;
  font-weight: 300;
  line-height: 32px;
}

.dark .about_us{
  background-color: #232220;
}

.dark .about_us p{
  color: white;
}
/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* AGENT BLOCK */
.agents {
  background: #ff6600;
  
}

.agents .agent__no__margin {
  margin-left: 0;
  margin-right: 0;
}

.agents__img {
  background: url(../img/banner3.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;

  height: 100%;
  position: relative;
  z-index: 1;
}
.agents__img::before{
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.agents__title {
  color: white;
  font-size: 20px;
  font-weight:400;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
  font-family: 'Pacifico', cursive;
}

.agents__title2 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

.agents__p{
  color: #ffdfc9;
}

.agents__subcribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.agents__items:hover .agents__icon span{
  color: #ffc600;
}

.agents__icon {
  background: white;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.agents__icon span {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}

.agents__items a {
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}

.agents__items p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
}

/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* CATEGORIES */
.categories{
  background-color: #f7f7f7;
}

.dark .categories{
  background-color: black;
}

.categories__item{
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.categories__item::after{
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;  
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.54) 69%, rgba(0, 0, 0, 0.76) 100%);
}

.categories__img img{
  transition: all .2s;
}

.categories__item:hover .categories__img img{
  opacity: 0.85;
}

.categories__text{
  position: absolute;
  left: auto;
  bottom: 0;
  width: 100%;
  padding: 20px 30px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
}

.categories__text h3{
  font-weight: 700;
}

.categories__text h3:first-of-type{
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.categories__text h3:last-of-type{
  color: #e9ba18;
  font-size: 18px;
}

.dark .categories{
  background-color: #282828;
}

/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* HOME SERVICES - FOOD */
.services__items {
  padding: 40px 40px;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: white;
  position: relative;
  border: 1px solid #eee;
}

.services__items:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
  transition: 0.3s ease-in-out;
}

.services__items:hover .services__icon {
  background-color: #ff6600;
}

.services__items:hover .services__icon span {
  color: white;
  transition: 0.3s ease-in-out;
}

.services__items:hover .services__info h4 a {
  color: #ff6600;
}

.services__titles {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

.services__icon {
  background: #8273fc0d;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.services__icon span {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}

.services__info p {
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
  font-family: 'Quicksand', sans-serif;
}

.services__info h4 {
  font-size: 1.5rem;
}

.services__info h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
  cursor: pointer;
}

.services__items p {
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
  font-family: 'Quicksand', sans-serif;
}

.dark .services__items{
  background-color: #232220;
}

.dark .services__items p, .dark .services__info a{
  color: white;
}
/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* DELICIOUSNESS - CONTACT US */
.contactUs{
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.contactUs::after{
  content: "";
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(16, 15, 19, 0.66);
  z-index: -1;
}

.contactUs__spacing{
  padding-bottom: 80px;
}

.contactUs_text h2{
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  font-weight: 700;
  max-width: 650px;
  margin: auto;
}

.contactUs__button button{
  font-size: 16px;
  font-weight: 700;
  padding: 15px 60px;
  transition: all .5s;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.contactUs__button button:first-of-type{
  border: 2px solid white;
  background-color: transparent;
}

.contactUs__button button:first-of-type:hover{
  background-color: white;
  color: #fe6600;
}

.contactUs__button button:last-of-type{
  background-color: #fe6600;
  border: 2px solid #fe6600;
} 

.contactUs__button button:last-of-type:hover{
  opacity: 0.80;
}

/* ------------------------------------------------------------------------- */
/* AUTHOR:  PHUOC NGUYEN*/
/* NUMBERS */
.numbers{
  margin: -70px 0 50px 0;
  position: relative;
  z-index: 2;
}

.numbers__item{
  padding: 36px 20px;
  box-shadow: 1px 1px 5px 0 rgb(1 1 1 / 5%)  ;
  border-radius: 5px;
  background-color: white;
  transition: all .5s;
}

.numbers__item:hover{
  transform: translateY(-10px);
  box-shadow: rgb(71 63 79 / 16%) 0px 5px 10px;
}

.numbers__item i{
  width: 65px;
  height: 65px;
  line-height: 65px;
  color: white;
  font-size: 26px;
  background-color: #fe6600;
  border-radius: 50%;
}

.numbers__item p:first-of-type{
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0 0 0;
}

.numbers__item p:last-of-type{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #5b606c;
}

.dark .numbers__item{
  background-color: #232220;
}

.dark .numbers__item p{
  color: white;
}

/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* VIDEOS */
.videos {
  display: block;
}
.videos__info {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
  min-height: 500px;
  align-items: center;
  display: grid;
  border-radius: 6px;

  position: relative;
  z-index: 1;
}

.videos__info::before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  z-index: -1;
  border-radius: 6px;
}

.play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
  /* position: absolute; */
  /* z-index: 1; */
}

.videos__info span.video-play-icon{
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;

  border-radius: 50%;
  border: transparent;

  color: #ff6600;
  background: white;

  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
  /* display: none; */
}

#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
  border: none;
}

/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* BLOGS */
.blogs {
  background: #f7f7f7;
}

.blogs__header h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fe6600;
  display: block;
  font-family: 'Pacifico', cursive;
}

.blogs__header h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.blogs__card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;

  display: flex;
  flex-direction: column;
  min-width: 0;

}

.blogs__cardHeader {
  position: relative;

  background-color: rgba(0, 0, 0, 0.03);;
}

.blogs__cardHeader a {
  background-color: transparent;
  color: #fe6600;
}

.blogs__cardImg {
  border-radius: 6px;
  display: block;
  width: 100%;
  /* vertical-align: middle; */
}

.blogs__post {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.blogs__card .blogs__cardHeader .blogs__reciepe {
  background: #fe6600;
  color: white;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: .05em;
}

.blogs__card .blogs__cardHeader .blogs__timeInfo{
  opacity: 1;
  color: white;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: .02em;
  font-family: 'Quicksand', sans-serif;
  
}

.fa__withMarginRight {
  margin-right: 0.5rem;
}

.blogs__cardBody {
  flex: 1 1 auto;
  min-height: 1px;
}

.blogs__cardBody .blogs__desc{
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;

  margin-top: 25px;
  margin-bottom: 15px;

  transition: .3s ease;
}

.blogs__cardBody p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: 'Quicksand', sans-serif;
}

.blogs__cardBody  .blogs__footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.blogs__cardBody  .blogs__footer .blogs__footerInfo {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: flex-start;
}

.blogs__cardBody  .blogs__footer .blogs__footerInfo a {
  font-weight: 700;
  color: #232121;
  letter-spacing: .02em;
}

.blogs__cardBody  .blogs__footer .blogs__footerInfo img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  max-width: 100%;
}

.blogs__cardBody  .blogs__footer .blogs__footerRead {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .02em;
  color: #232121;
  opacity: .9;
}

.blogs__footerRead .fa__withMarginLeft {
  margin-left: .5rem;
}


/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* TESTIMONIALS */

.testimonials__img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 20px;
}

.testimonitals__commentTitle h3{
  font-style: italic;
}

.testimonitals__commentTitle i{
  color: #fe6600;
  font-size: 28px;
  font-style: italic;
}

.testimonials__comment{
  font-family: 'Quicksand', sans-serif;
  color: #5b606c;
  font-size: 18px;
}

.testimonials__comment p:first-of-type{
  line-height: 31px;
  max-width: 750px;
  margin: auto;
}

.testimonials__comment h3{
  color: #232121;
}

.testimonials .owl-theme .owl-dots .owl-dot.active span{
  background: #fe6600;
}

.testimonials .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: #fe6600;
}

.dark .testimonials{
  background-color: #232220;
}

.dark .testimonials__content p, .dark .testimonials__content h3{
  color: white;
}

/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* FOOTER */
footer{
  background-color: black;
}

footer ul{
  list-style: none;
  padding: 0;
}

footer a, footer p{
  color: #a4a2a0;
  font-size: 16px;
}

footer a:hover{
  color: #fe6600;
}

.footer__content{
  padding: 70px 0;
}

.footer__list h2, .footer__form h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.footer__text{
  padding-right: 25px;
}

.footer__text p{
  line-height: 28px;
}

.footer__text i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  color: #fe6600;
  border-radius: 5px;
  margin-right: 10px;
  transition: all .3s;
  cursor: pointer;
}

.footer__text i:hover{
  background-color: #fe6600;
  color: white;
}

.footer__list li{
  padding: 6px 0;
}

.footer__form{
  height: 100%;
}

.footer__form form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
  font-family: 'Quicksand', sans-serif;
}

.footer__form input{
  padding: 1em;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 18px;
}

.footer__form input:focus{
  outline: none;
  border: 1px solid #fe6600;
}

.footer__form button{
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  transition: all .5s;
  border-radius: 5px;
  color: white;
  background-color: #fe6600;
  border: 2px solid #fe6600;
  cursor: pointer;
}

.footer__form button:last-of-type:hover{
  opacity: 0.80;
}

/* AUTHOR: PHUOC NGUYEN */
/* BACKTOTOP */
.backToTop{
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  background-color: #fe6600;
  border: 1px solid #eee;
  color: white;
  font-size: 24px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  opacity: 0;
  z-index: 10;
}

.backToTop:hover{
  background-color: white;
  color: #fe6600;
  border: 1px solid #fe6600;
}

.cd-top--is-visible { 
      opacity: 1;
}


@media screen and (max-width: 992px){
    .contactUs__spacing{
        padding-bottom: 0;
    }

    .numbers{
      margin-top: 30px;
  }
}

.footer__bottom span{
  color: #fe6600;
}

.footer__bottom li {
  display: inline;
  margin-right: 20px;
}

/* ------------------------------------------------------------------------- */
/* keyframe */
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
}