
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font use 
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
*/

html, body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  max-width: 1199px;
  margin: auto;
}

.sectionStyle{
  padding: 80px 0;
}

/* ------------------------------------------------------------------------- */
/* LIGHT THEME */
#myBody{
  background-color:white;
}

/* #switchButton {
  background-color: white;
} */

#switchButton .fa-sun{
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* ------------------------------------------------------------------------- */
/* DARK THEME */
.dark#myBody {
  background-color: black;
}


/* .dark #switchButton{
  background-color: black;
} */

.dark #switchButton .fa-sun{
  display: block;
  color: white;
}

.dark #switchButton .fa-moon{
  display: none;
}


/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* HEADER */

header {
  background-color: orange;
}

.header__leftContent h1 a{
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* seperate left and right header content with grid */
.header__content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}

/* right header content */
.header__rightContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}


.btn__switchThemes {
  background-color: transparent;
  border: none;
}

.header__switchTheme .fa-moon,
.header__switchTheme .fa-sun {
  font-size: 25px;
  background: none;
}

/* search box */
.header__searchBox {
  position: relative;
  display: flex;
}

.search__input {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid white;
  border-radius: 6px;
}

.search__icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 15px;
  cursor: pointer;
}


/* button menu navbar */

.header__navBar .navbar .navbar-toggler {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: white;
  font-size: 1.95em;
  font-weight: 700;
  padding: 8px;
}



/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/*  BANNER or CAROUSEL */


/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* ABOUT US */
.aboutUs__left h3{
  font-family: 'Pacifico', cursive;
  color: #fe6600;
  font-size: 24px;
}

.aboutUs__left h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.aboutUs__right p{
  font-size: 18px;
  color: #5b606c;
  font-weight: 300;
  line-height: 32px;
}

.dark .about_us h2, .dark .about_us p{
  color: white;
}
/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* AGENT BLOCK */


/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* CATEGORIES */


/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* HOME SERVICES - FOOD */



/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* DELICIOUSNESS - CONTACT US */


/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* NUMBERS */



/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* VIDEOS */




/* ------------------------------------------------------------------------- */
/* AUTHOR: TRUNG */
/* BLOGS */



/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* TESTIMONIALS */



/* ------------------------------------------------------------------------- */
/* AUTHOR: PHUOC NGUYEN */
/* FOOTER */
